/* purgecss start ignore */
@import 'abrusco/base';
/* purgecss end ignore */
@import 'abrusco/modules';

/* purgecss start ignore */
@import 'buttons.css';
@import 'copy.css';
/* purgecss end ignore */

@import 'abrusco/utils';
@import 'abrusco/debug';

/* purgecss start ignore */

:root {
  --underline: underline 1px;
  text-underline-offset: 2px;

  /* default colors */
  --color: #040404;
  --bg-color: #ffffff;
  --bg-shade: #f8f8f8;
  font-family: 'Outfit', sans-serif;
  font-family: 'Poppins', sans-serif;
  font-family: 'Rubik', sans-serif;
  font-family: 'Tajawal', sans-serif;

  @media (prefers-color-scheme: dark) {
    /* dark mode */
    --color: #f0f0f0;
    --bg-color: #101010;
    --bg-shade: #202020;
  }

  @media (prefers-color-scheme: light) {
    /* light mode */
  }
}
*:not(i) {
  font-family: 'Outfit', sans-serif !important;
  font-family: 'Poppins', sans-serif !important;
  font-family: 'Rubik', sans-serif !important;
  font-family: 'Tajawal', sans-serif !important;
}
a {
  text-decoration: none !important;
}

/* purgecss end ignore */
iframe {
  height: 100vh;
}

.durationRtl {
  direction: rtl !important;
  transition: all 3s ease;
  text-align: right !important;
}
.durationLtr {
  direction: ltr !important;
  transition: all 3s ease;
  text-align: left !important;
}
.navbar-b {
  margin-left: 50%;
  direction: rtl !important;
}
.navbar {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 1300px) {
  .navbar-b {
    margin-left: 30%;
    direction: rtl !important;
  }
}
